.form-label__popup a {
    padding: 3px 20px;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(92, 92, 92);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    border-radius: 20px;
    background-color: hsla(141, 28%, 88%, 0.897);
}
.form-label__popup a:hover {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    border-bottom: 0.1px solid rgb(109, 111, 114);
    background-color: hsla(141, 30%, 81%, 0.897);

}
.popup-sideofbed-example {
    position: fixed;
    width: 100%;
    height: 100%;
    font-family: "Jost", sans-serif;
    background-color: rgba(0, 0, 0, 0.476);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: 21;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}
.popup-sideofbed-example__body-body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.476);
}
.popup-sideofbed-example:target {
    opacity: 1;
    visibility: visible;
}
.popup-sideofbed-example:target .popup-sideofbed-example-content {
    opacity: 1;
    transform: translate(0px, 0px);
}
.popup-sideofbed-example-body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
@media (max-width: 500px) {
    .popup-sideofbed-example-body {
        display: flex;
        justify-content: center;
        max-width: none;
        padding: 10px 3px;
    }
}
.popup-sideofbed-example-content {
    width: 100%;
    display: none;
    max-width: 300px;
    background-color: #fff;
    position: relative;
    opacity: 0;
    transition: all 0.8s ease 0s;
    transform: translate(opx, -100%);
}
@media (min-width: 450px) {
    .popup-sideofbed-example-content {
        max-width: 320px;
    }
}
@media (min-width: 768px) {
    .popup-sideofbed-example-content {
        max-width: 400px;
    }
}
.popup-sideofbed-example-content img {
    width: 100%;
}
.popup-sideofbed-example-body a {
    font-family: "Jost", sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
@media (min-width: 768px) {
    .popup-sideofbed-example-body a {
        font-size: 18px;
    }
}
.popup-sideofbed-example-close {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 5px;
    text-decoration: none;
}
@media (min-width: 768px) {
    .popup-sideofbed-example-close {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 7px;
    }
}
