.footer {
    width: 100%;
    background-color: hsla(143, 37%, 85%, 0.897);
    font-family: "Jost", sans-serif;
}
.footer__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: baseline;
    font-family: "Jost", sans-serif;
}
.footer__body h4 {
    font-weight: 500;
    font-family: "Jost", sans-serif;
    padding-bottom: 15px;
}
.footer__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    text-align: start;
    max-width: 250px;
}
.footer__contakts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    text-align: start;
    max-width: 250px;
}
.footer__socmedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    text-align: start;
    max-width: 250px;
}
.footer__socmedia h4 {
    color: black;
    font-size: 22px;
    letter-spacing: 1px;
}
@media (max-width: 762px) {
    .footer__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer__link,
    .footer__contakts,
    .footer__socmedia {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15px 30px;
        text-align: center;
        max-width: 300px;
    }
}
.list__links li {
    list-style-type: none;
}
.list__links a {
    color: black;
    font-size: 16px;
    text-decoration: none;
}
.list__links a:hover {
    color: rgb(109, 111, 114);
    font-size: 16.5px;
    border-bottom: 1px solid #000;
    transition: all 0.5s ease 0s;
}
.socmedia__icons {
    display: flex;
    justify-content: start;
}
.socmedia__icons img {
    width: 60px;
}
.contakts__data-icons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contakts__data-icons i {
    font-size: 32px;
    padding: 20px 10px 0px 10px;
}
.contakts__data-icons i:hover {
    font-size: 32.5px;
    padding: 10px 5px 0px 5px;
}
/* footer */
/* scrollup button */
.scrollup {
    position: fixed; /* фиксированная позиция */
    color: #fff; /* цвет текста */
    background-color: #666666a6; /* цвет заднего фона */
    right: 20px; /* расстояние от правого края */
    bottom: 0px; /* расстояние от нижнего края */
    padding: 3px 10px; /* отступы до содержимого блока */
    font-size: 20px; /* размер шрифта (иконки) */
    border-top-left-radius: 5px; /* скругление верхнего левого угла */
    border-top-right-radius: 5px; /* скругление верхнего правого угла */
    cursor: pointer; /* форма курсора */
    display: none; /* не отображать элемент */
    text-align: center; /*выравнивание содержимого элемента по центру */
    z-index: 12;
}
.scrollup:hover {
    background-color: rgba(58, 58, 58, 0.678); /* цвет заднего фона при наведении */
}
